<div class="container-fluid">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Simple</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search products</button>
    </form>
  </nav>
  
    <div class="row">
      <div class="col-3 col-menu">
        <ul class="list-group list-group-flush">
            <li class="list-group-item side-nav" >Home</li>
            <li class="list-group-item side-nav" >Denim</li>
            <li class="list-group-item side-nav" >Footwear</li>
            <li class="list-group-item side-nav" >OuterWear</li>
            <li class="list-group-item side-nav" >Pants</li>
            <li class="list-group-item side-nav" >Shirts</li>
            <li class="list-group-item side-nav" >T-Shirts</li>
            <li class="list-group-item side-nav" >Shorts</li>
          </ul>
      </div>
      <div class="col-3 col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1161A_01_540x.jpg?v=1509388451" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stealth Bomber Jacket</h5>
            <p class="card-text">$1,599.95</p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
    <div class="col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1156_01_540x.jpg?v=1509388433" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wolfpack Jacket</h5>
            <p class="card-text">$1,599.95</p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
    </div>
      </div>
      <div class="col-3 col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1162A-Olive_Front_S_540x.jpg?v=1509388376" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Storm Jacket</h5>
            <p class="card-text">$999.95 </p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
        <div class="col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1155B_01_540x.jpg?v=1509388434" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Operator Denim Jacket</h5>
            <p class="card-text">$1,399.95 </p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-3 col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1159A_01_540x.jpg?v=1509388468" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Navigator Parka Jacket</h5>
            <p class="card-text">$1,999.95 </p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
        <div class="col-menu">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1154-Olive_01_540x.jpg?v=1509388410" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gulf Jacket - Olive</h5>
            <p class="card-text">$1,299.95</p>
            <a href="#" class="btn btn-primary">Buy this</a>
          </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>
