
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/home">Simple</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let category of categories; let i=index" >
          <a class="nav-link" style="font-size: 1.25em;cursor: pointer;" (click)="getProductByCategory(category)">{{category | titlecase}}</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" #search (change)="searchProducts(search.value)"> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search products</button>
    </form>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Search - {{category | titlecase}}</h1>
    </div>
  </div>
    <div class="row">
      <!-- <div class="col-3 col-menu">
        <ul class="list-group list-group-flush">
          <li class="list-group-item side-nav" *ngFor="let category of categories; let i=index" (click)="getProductByCategory(category)" >
            <p style="cursor: pointer;">{{category | titlecase}}</p>
          </li>
        </ul>
      </div> -->
      <div class="col-md-4 col-lg-3 col-sm-12" *ngFor="let search of searches; let i=index">
        <div style="padding: 1em;" >
        <div class="card" style="width: 18rem;" >
          <img src="{{search._source.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{search._source.title}}</h5>
            <p class="card-text">${{search._source.pricing.price}}</p>
            <a class="btn btn-light default" (click)="showProductDetails(search._source.productId)">Buy this</a>
          </div>
        </div>
        </div>
      </div>      
    </div>
