<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Simple</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search products</button>
    </form>
  </nav>
<div class="container-fluid">
    <div class="row up-bar">
        <div class="col-1">
            
        </div>
        <div class="col-3">
            Product Details
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-3">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1161A_01_540x.jpg?v=1509388451" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="col-6" style="padding-left: 5em;">
            <div class="card">
                <div class="card-header">
                  Category
                </div>
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Introducing the OPERATOR distressed denim trucker jacket. This fitted jacket is constructed from high quality 100% cotton and designed with a point collar. The jacket has cut and sew front panels, chest and side entry hand pockets and is detailed with branded rivet buttons, antique silver cuff zips and custom rip and repairs.This jacket has been expertly washed to create an aged Western look.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
    </div>
</div>