<!--
<div>
    <mat-toolbar>
        Fashion
        <div>
        <form class="example-form">
            <mat-form-field color="warn" class="example-full-width">
              <mat-label>Search Products</mat-label>
              <input matInput placeholder="Ex. Jeans">
            </mat-form-field>
          </form>
        </div>
        </mat-toolbar>
</div>
<header class="site-header medium-up--grid--table" role="banner">
  <img style="padding: 10px;" src="../../assets/img/logo_360x.png">
</header>
<mat-grid-list cols = "3">
    <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "2">
   <mat-list>
    <mat-list-item> Home </mat-list-item>
    <mat-list-item> Accessories </mat-list-item>
    <mat-list-item> Denim </mat-list-item>
    <mat-list-item> Footwear </mat-list-item>
    <mat-list-item> Jeans </mat-list-item>
    <mat-list-item> OuterWear </mat-list-item>
    <mat-list-item> Pants </mat-list-item>
    <mat-list-item> Shirts </mat-list-item>
    <mat-list-item> T-Shirts </mat-list-item>
    <mat-list-item> Shorts </mat-list-item>
</mat-list>
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "2"
   [rowspan] = "2">
   
   <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
   </mat-grid-tile>
  </mat-grid-list>
  
-->
<router-outlet></router-outlet>