<div>
    <mat-toolbar>
        Simple
        <div>
        <form class="example-form">
            <mat-form-field color="warn" class="example-full-width">
              <mat-label>Search Products</mat-label>
              <input matInput placeholder="Ex. Jeans">
            </mat-form-field>
          </form>
        </div>
        </mat-toolbar>
</div>
<mat-grid-list cols = "3">
    <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "2">
   <mat-list>
    <mat-list-item> Home </mat-list-item>
    <mat-list-item> Accessories </mat-list-item>
    <mat-list-item> Denim </mat-list-item>
    <mat-list-item> Footwear </mat-list-item>
    <mat-list-item> Jeans </mat-list-item>
    <mat-list-item> OuterWear </mat-list-item>
    <mat-list-item> Pants </mat-list-item>
    <mat-list-item> Shirts </mat-list-item>
    <mat-list-item> T-Shirts </mat-list-item>
    <mat-list-item> Shorts </mat-list-item>
</mat-list>
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "2"
   [rowspan] = "2">2
   </mat-grid-tile>
   <!-- <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "1">3
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "2"
   [rowspan] = "1">4
   </mat-grid-tile> -->
  </mat-grid-list>
  
